.auth{
  width: 90%;
  max-width: 400px;
  border: 5px solid blue; /*border color and settings*/
  padding: 20px;
  text-align: center;
  color: goldenrod; /*font color*/
}

.auth form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto 10px auto;
  color: goldenrod;  /*font color within form*/
}

.auth__success{
  padding: 10px 0;
  background-color: hsl(147, 79%, 87%); /*text box background color*/
  margin-bottom: 20px;
}

.auth__error{
  padding: 10px 0;
  background-color: hsl(0, 79%, 87%);
  margin-bottom: 20px;
}

.auth form > input{
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
}

.auth form > button{
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  background-color: goldenrod; /*button color*/
}

.bio-form{
  width: 90%;
  max-width: 400px;
  border: 5px solid blue;
  padding: 20px;
  text-align: center;
  color: goldenrod;
}

.bio-form::placeholder {
  color: goldenrod;
}
