.profile{
  width: 90%;
  max-width: 400px;
  border: 5px solid blue;
  padding: 20px;
  text-align: center;
  color: goldenrod;
}

.profile p {
  text-align: left;
}

.profile > span{
  color: blue;
  cursor: pointer;
  margin-top: 30px;
}